<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styles.css">
     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton+SC&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body class="fondof2">
    <h1 class="title">FORMULA 2</h1>
    <article>
        <h3 class="subtitlef2">Resumen general
              Temporada 2024 
             (F2, MP Motorsport):</h3>
        <ul class="textf2">
            <li>Temporada completa</li>
        <li>1 victoria (Sprint en Imola)</li>
        <li>3 podios (Imola, Barcelona, Austria)</li>
        <li> 1 vuelta rápida (Silverstone)</li>
        <li>Puntos totales: 96</li>
        <li>Puesto final en el campeonato: 6.º</li>
        <li>Gran progresión: Mejoró notablemente 
            desde media temporada gracias 
            a cambios técnicos en su conducción.</li>
        <li>Ascenso a F1: Fue promovido por Williams a la Fórmula 1 
            antes de terminar la temporada.</li>
        </ul>
    </article>
    <img class="img1f2" src="static/img/primerof2.png">
        <video class="videof2" src="static/img/WhatsApp Video 2025-06-12 at 15.19.12.mp4"alt controls></video>
    <article>
        <h3 class="subtitle2f2">Momentos destacados:</h3>
        <ul class="text2">
            <li>Victoria histórica en Imola: Primera victoria en F2, 
            superando a Paul Aron en la última vuelta.</li>
        <li>Podios sólidos:
2.º en Barcelona (Feature Race)
2.º en Austria (Feature Race)</li>
        <li>Silverstone: Lideró gran parte de la 
            carrera principal y marcó la vuelta rápida</li>
        </ul>
        <img class="img2f2" src="static/img/celebrandof2.png">
    <article>
        <h3 class="subtitlef3">Obstáculos:</h3>
        <ul class="text">
            <li>Descalificación en Australia: Fue excluido de la 
                Feature Race por una infracción técnica.</li>
            <li>Abandono en Bélgica: Perdió potencia mientras estaba en zona de puntos.</li>
            <li>No corrió el final de temporada: Fue ascendido a la F1, por lo que no terminó la campaña completa.</li>
        </ul>
    </article>
    <img class="img3f2" src="static/img/naranja.png">
</body>
</html>
