<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styles.css">
       <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton+SC&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
</head>
<body class="fondof3">
    <article>
        <h1 class="titlef3">FORMULA 3</h1>
    </article>
    <p class="undertextf3">Franco Colapinto tuvo una destacada temporada 2022 en la 
        FIA Fórmula 3 con el equipo Van Amersfoort Racing, 
        logrando importantes hitos en su carrera deportiva</p>
        <h2 class="undertitlef3">TEMPORADA 2022</h2>
        <article>
            <h3 class="subtitlef3">Debut y Pole Position en Sakhir</h3>
            <p class="textf3">En su debut en la categoría, Colapinto 
                sorprendió al obtener la pole position en el 
                circuito de Sakhir, Baréin, marcando un tiempo de
                 1:46.249. Este logro representó la primera pole
                  tanto 
                para él como para su equipo en la Fórmula 3 .</p>
        </article>

        <article>
            <h3 class="subtitle2f3">Primera Victoria en Imola</h3>
            <p class="text2">Su primera victoria llegó en la c
                arrera sprint del Gran Premio de 
                Emilia-Romaña, en Imola. Gracias al 
                sistema de parrilla invertida, partió 
                desde la primera posición. Aunque perdió 
                el liderato en la cuarta vuelta ante Caio 
                Collet, Colapinto mantuvo la presión y r
                ecuperó la punta en la última vuelta, tras 
                una maniobra en la chicane de Tamburello. 
                Posteriormente, Collet colisionó con Isack Hadjar,
                 lo que permitió a Victor Martins y Jak 
                Crawford completar el podio junto a Colapinto .</p>
        </article>
        <img class="imgf3" src="static/img/polef3.png">
         <img class="img2f3" src="static/img/podiof3.png">
        <article>
            <h3 class="subtitlef3">Segunda Victoria en Monza</h3>
            <p class="textf3">Colapinto cerró la temporada con una 
                segunda victoria en la carrera sprint de Monza.
                 Partiendo desde la pole, lideró la carrera y
                  resistió los ataques de Oliver Bearman, 
                  quien se acercó peligrosamente en las últimas 
                  vueltas. Colapinto mantuvo la calma y cruzó
                   la meta en primer lugar, con Bearman y 
                Caio Collet completando el podio .</p>
        </article>
        <img class="img3f3" src="static/img/f3 celebrando.png">
        <article>
            <h3 class="subtitle2f3">Balance de la Temporada</h3>
            <p class="text2">Durante la temporada 2022, Colapinto demostró su
                 talento y consistencia, logrando dos 
                 victorias en carreras sprint y destacadas 
                 actuaciones en otras competencias. 
                 Su desempeño le valió reconocimiento y c
                 onsolidó su posición como una de las 
                promesas del automovilismo argentino.</p>
        </article>
        <h1 class="titlef3">TEMPORADA 2023</h1>
        <article>
            <h3 class="subtitle4f3"> Resultados generales</h3>
            <ul class="text">
                <li><strong>Posición final en el campeonato:</strong> 4.º lugar.</li>
                <li><strong>Victorias:</strong> 2 (Silverstone y Monza).</li>
                <li><strong>Podios:</strong> 5 en total.</li>
                <li><strong>Carreras con puntos:</strong> 14 de 17.</li>
                <li><strong>Puntos totales:</strong> No especificado.</li>
            </ul>
        </article>
        <img src="static/img/tablasf3.png">
        <article>
            <h3 class="subtitle3f3">Principales actuaciones</h3>
            <p class="text2">Silverstone: Ganó la carrera Sprint, demostrando su habilidad en condiciones cambiantes.
Monza: Logró su segunda victoria de la temporada en la carrera Sprint, partiendo desde la pole y recuperando el liderazgo en las últimas vueltas.
Bahréin: Finalizó segundo en la carrera Sprint.
Barcelona: Obtuvo el segundo lugar en la carrera principal.
Hungría: Terminó tercero en la carrera principa</p>
        </article>

        <article>
            <h3 class="subtitle5f3">Estadísticas destacadas</h3>
            <p class="textf3">Con 4 victorias en total en la FIA F3 
                (sumando las de 2022 y 2023), Colapinto se convirtió en uno de los cinco pilotos más ganadores de la categoría desde su creación en 2019, igualando a Frederik Vesti, Dennis Hauger, Jack Doohan y Zak O'Sullivan.
En sus dos temporadas en F3, acumuló 10 podios, 
siendo superado solo por Victor Martins 
(12) y Caio Collet (11)</p>
        </article>
        <img class="img4f3" src="static/img/1trajeazul.png">
        <article>
            <h3 class="centertitlef3">Impacto y proyección</h3>
            <p class="centertextf3">La sólida temporada 2023 de Colapinto no solo le 
                permitió destacarse en la F3, sino que también fue
                 clave para su ascenso a la Fórmula 2 en 2024 y, 
                 posteriormente, a la Fórmula 1, donde debutó
                  con Williams en el Gran Premio de Italia de 
                  2024.
Su desempeño en 2023 consolidó su reputación 
como uno de los
 talentos más prometedores del automovilismo 
 argentino e internacional.</p>
        </article>
</body>
</html>
