<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton+SC&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

</head>
<body class="body2">
    <header>
        <h1 class="title"> karting</h1>
    </header>
    <main>
        <article>
            <h2 class="subtitle"> Categorías de Karting en
                 las que corrió 
                 Franco Colapinto:
</h2>
            <h3 class="subsubtitle">Rotax Max Challenge Argentina:</h3>
            <p class="text">Esta es una de las categorías
                 más importantes del 
                karting nacional, 
                con proyección internacional.
                <p class="text">Franco compitió en la categoría Junior Max, donde logró destacarse.
</p>
</p>
        </article>

        <article>
            <h3 class="subsubtitle">Campeonatos nacionales y provinciales:</h3>
            <p class="text">Participó en torneos organizados por la FAK 
                (Federación Argentina de Karting) y otras asociaciones regionales.</p>
            <p class="text">Fue campeón argentino de 
                karting en una de estas categorías.</p>
        </article>

        <article>
            <h3 class="subsubtitle">Karting Sudamericano y competencias internacionales:</h3>
            <p class="text">Representó a Argentina en torneos internacionales como la Rotax Grand Finals, 
                que es como el "Mundial" de karting Rotax.</p>
                <p class="text">Esta participación ayudó a que empezara a
                     sonar su nombre fuera del país.</p>
        </article>

        <article>
            <h2 class="subtitle2">Logros destacados:</h2>
            <p class="text2">Fue campeón argentino
                 de karting (categoría Junior).</p>
            <p class="text2">Se destacó desde muy chico por su técnica,
                 madurez en pista y velocidad.</p>
            <p class="text2">Su éxito en el karting fue lo que le permitió dar el salto a Europa 
                con apoyo de sponsors y equipos interesados.</p>
        </article>

        <article>
            <h3 class="subsubtitle2">Juegos Olímpicos de la Juventud 2018:</h3>
            <p class="text2">En Buenos Aires, participó en una exhibición de karting organizada por la FIA durante los Juegos Olímpicos de la Juventud. Junto a María García Puig, ganó el evento, demostrando
                 su talento en una plataforma internacional. </p>
        </article>

        <article>
            <h3 class="subsubtitle2">Homenajes:</h3>
            <p class="text2">En 2024, durante una fecha del Campeonato Argentino de Karting en Río Cuarto, se le rindió un homenaje por su trayectoria y logros en el automovilismo. Los pilotos formaron su nombre con los karts y 
                desplegaron una bandera argentina en su honor. </p>
        </article>
        <article class="imgkart">
            <img src="static/img/imgkart.png">
         </article>

    </main>
</body>
</html>
