<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styles.css">
     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton+SC&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body class="fondof1">
    <h1 class="title">FORMULA 1</h1>
    <h2 class="undertitlef3">temporada 2024</h2>
   <article>
    <h3 class="subtitle">Resumen de la Temporada 2024:</h3>
     <ul class="text">
        <li>Carreras disputadas: 9</li>
        <li>Mejor resultado: 8.º (Azerbaiyán)</li>
        <li>Puntos totales: 5</li>
        <li>Posición final en el campeonato: 19.º</li>
        <li>Abandonos: 3 (Brasil, Catar, Abu Dabi)</li>
    </ul>
   </article>
   <img class="img1f1" src="static/img/colapintof1cara.png">
    <article>
        <h3 class="subtitle2f1">Participaciones en 2024 (9 carreras en total):</h3>
        <ul class="text2">
        <li>🇬🇧 GP de Gran Bretaña (Silverstone)  Participación en FP1 (no compitió en carrera)</li>
        <li>🇮🇹 GP de Italia (Monza)  Debut oficial en carrera  Finalizó en posición 12</li>
        <li>🇸🇬 GP de Singapur • Carrera desafiante, terminó fuera de los puntos</li>
        <li>GP de Japón • Rendimiento sólido, sin puntos</li>
        <li> GP de Catar • Clasificación difícil, terminó la carrera sin sumar</li>
        <li>GP de México • Gran recuperación en pista, pero sin entrar en el Top 10</li>
        <li>GP de Brasil • Mostró ritmo competitivo, pero sin puntos</li>
        <li> GP de Las Vegas • Carrera muy estratégica, terminó en la zona media</li>
        <li>GP de Azerbaiyán (Bakú) • Terminó 8.º → Sumó sus primeros 4 puntos en F1</li>
    </ul>
    <img class="img2f1" src="static/img/monoplazaw.png">
</article>
<article>
     <h3 class="subtitle">Logros Destacados de Franco Colapinto en Fórmula 1 (2024):</h3>
        <h4 class="subtitle">1. Primer argentino en competir oficialmente en F1 desde 2001</h4>
         <p class="text">Tras más de dos décadas sin representación nacional en la categoría, Colapinto hizo su debut en carrera en el GP de Italia (Monza).</p>

        <h4 class="subtitle"> 2. Primer argentino en sumar puntos en F1 desde 1982</h4>
         <p class="text">En el GP de Azerbaiyán, Colapinto terminó 8.º y consiguió 4 puntos, convirtiéndose en el primer argentino en lograrlo desde Carlos Reutemann.</p>
         <img class="img3f1" src="static/img/alpine.png">

        <h4 class="subtitle">3. Participación destacada en clasificación (Q3)</h4>
         <p class="text">En Bakú, logró clasificar en 9.º lugar, entrando por primera vez en la Q3 en su carrera.</p>

        <h4 class="subtitle">4. Excelente gestión estratégica en carrera</h4>
         <p class="text">En el GP de Estados Unidos (Austin), sugirió un cambio de estrategia con neumáticos duros que le permitió escalar posiciones y terminar en el puesto 10, sumando otro punto.</p>
        <img class="img3f1" src="static/img/colalpine.png">

        <h4 class="subtitle">5. Rápida adaptación al monoplaza y al entorno F1</h4>
         <p class="text">En solo nueve carreras, se consolidó como un piloto confiable, con buen ritmo y madurez, incluso frente a condiciones adversas como penalizaciones o accidentes.</p>

        <h4 class="subtitle"> 6. Generador de entusiasmo nacional e internacional</h4>
         <p class="text">Su presencia reactivó el interés argentino por la Fórmula 1 y fortaleció la imagen de Williams como formador de talentos.</p>
        <img class="img3f1" src="static/img/dnf.png">

        <h4 class="subtitle">7. Promoción a piloto titular en Alpine para 2025</h4>
         <p class="text">Gracias a su desempeño, Alpine lo contrató como piloto de reserva y luego lo ascendió a titular desde el GP de Emilia-Romaña 2025.</p>
</article>
    
</body>
</html>
