<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton+SC&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">

    <title>Document</title>
</head>
<body class="fondof4">
  <main>
    <article>
        <h1 class="titlef4">FORMULA 4</h1>
    </article>

    <article>
        <h3 class="subtitle">Franco Colapinto en la F4: </h3>
        <p class="text"><strong class="subsubtitle">Temporada:</strong> 2019</p>
        <p class="text"><strong class="subsubtitle">Edad:</strong> 16 años</p>
        <p class="text"><strong class="subsubtitle">Equipo:</strong> Drivex School, con apoyo de FA Racing (Fernando Alonso)</p> 
        <p class="text"><strong class="subsubtitle">Nacionalidad:</strong> Argentina</p>
    </article>
    <img src="/static/img/f4 campeon.png">
    <article>
        <h3 class="subsubtitlef4">Campeón absoluto de la temporada:</h3>
        <p class="text">Franco Colapinto arrasó en la temporada 2019 de la F4 Española con un 
            rendimiento dominante que lo posicionó como una de las mayores promesas del 
            automovilismo internacional.</p>
    </article>

    <article>
        <h3 class="subtitle2f4">Puntos clave de su campaña:</h3>
        <p class="text2f4">Fue líder indiscutido 
            del campeonato desde las primeras fechas.</p>
        <p class="text2f4">Su consistencia lo destacó no solo por las victorias, sino
             también por su capacidad de clasificar 
            bien y mantener un ritmo de carrera sólido.</p>
        <p class="text2f4">Su madurez al volante y control en condiciones diversas
            (circuitos técnicos, lluvia, presión de rivales) llamó la atención
             de equipos europeos y figuras del automovilismo.</p>
    </article>
     <img class="imgf4" src="/static/img/f4 colapinto.png">
    <article>
        <h3 class="subsubtitle2f4">Estadísticas destacadas:</h3>
        <ul class="text2"> 
            <li>11 victorias en 21 carreras</li>
            <li>13 podios</li>
            <li>10 pole positions</li>
            <li>10 vueltas rápidas</li>
            <li>325 puntos en total</li>
        </ul>
           
        <p class="text2">(Ganó el campeonato con casi 
            100 puntos de ventaja sobre el subcampeón)</p>
    </article>
  </main>
</body>
</html>